fastapi[standard]
uvicorn[standard]
psycopg[binary]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
numpy
pandas
python-multipart
aiohttp-cors
redis
cryptography
psycopg-pool
